
#renderCanvasInstructions {
    width: 90%;
    height: 50%;
    touch-action: none;
    margin-top: -100%;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

@media screen and (max-width: 100px) {
    .navbar {
      color: red; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }