
#renderCanvasInstructions {
    width: 80%;
    height: 100%;
    touch-action: none;
}
map {
  display: inline;
}
.services_3col:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  #content-desktop {display: none;}  
  }
#backPrincipal {
  background-image: url("/recursos/backg.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}
#buttonbox{
  top: 100px;
  padding: 2pt;
  display: block;
}
#choose{
  text-align: center;
  margin-top: 3pt;
  margin-bottom: 2pt;
  background-color: dodgerblue;
  font-size:1.0em;
  color: white;
}

#headerBox{
  text-align: center;
  background-color: #00cef5;
  color:white;
  font-size: "1.0em";
}

#renderCanvasL1 {
  width: 100%;
  height: 100%;
  touch-action: none;
}

.badaligment{
  margin-top: 0%;
  text-align: center; 
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

@media screen and (max-width: 100px) {
    .navbar {
      color: red; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }